ul {
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(59, 53, 53);
    margin: -8px;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  img {
      float: right;
      height: 800px;
      width: 615px;
      }
  body {
      background-color: yellow;
      }
  form {
      padding: 50px;
      float: left;
  }
  
  .a:link, .a:visited {
    background-color: #8333eb;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .a:hover, .a:active {
    background-color: rgb(255, 255, 255);
  }
  input[type=text],input[type=password],input[type=submit],input[type=email],input[type=tel]{
    width: 100%;
    padding: 5px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid hsla(0, 26%, 4%, 0.3);
    border-radius: 4px;
  }
  select {
    width: 100px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
  }
  @media only screen and (max-width:600px){
    ul {
        list-style-type: none;
        padding: 10px;
        overflow: hidden;
        background-color: rgb(59, 53, 53);
        margin: -9px;
        margin-right: -43px;
      
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 4px 5px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;}
    form {
        padding: 50px;
        float: left;
    }
    img {
        display: block;
        margin: auto;
        width: 328px;
        height: 277px;

    }
    h1 {
        font-size: 12px;
    }


      
  }
