ul {
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(59, 53, 53);
    margin: -8px;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  body {
      background-color: rgb(98, 187, 194);
  }
  p {
      font-size: 1.5vw;
  }
  .mm , .nn , .xx{
      width: 280px;
  }
  img {
      display: inline;
      margin-left: auto;
      margin-right: auto;
  }
  .dropbtn {
    background-color: #1618b1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #1ac3da;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .ll {
    width: 200px;
  }
  .ss {
    width: 300px;
  }
  .yy {
    width: 350px;
  }
  .ff {
    width: 300px;
  }
  @media only screen and (max-width:600px){
    ul {
      list-style-type: none;
      padding: 10px;
      overflow: hidden;
      background-color: rgb(59, 53, 53);
      margin: -9px;
      margin-right: -43px;
      
      }
      
      li {
      float: left;
      }
      
      li a {
      display: block;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 4px 5px;
      text-decoration: none;
      }
      
      li a:hover {
      background-color: #111;
      }
      p {
        font-size: 3.5vw;
      }
      .ll {
        width: 100px;
      }
      .ss {
        width: 150px;
      }
      .yy {
        width: 160px;
      }
      .ff {
        width: 150px;
      }
    
  }
